/* CSS Styles for My Lifestyle Blog */

body {
    
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ffffff, #ffff99);
  }
  body,html{
    height: 100%;
  }

  header, body,footer,fieldset{
    
    margin: 30px;
    max-width: 80%  ;
  }
  
  h1 {
    color: #333;
    margin-top: 40px;
    margin-bottom: 20px;
  
  }
  
  
  
  ul {
    list-style-type: none;
    color: #999;
  }
  
  
  header {
    background-color:#f8f8bd;
    padding: 20px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav img {
    height: 50px;
  }
  
  nav ul {
    margin-left: auto;
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #666;
  }

  
  
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    font-weight: bold;
  }
  
 
  thead {
    background-color: #ffff66;
  }
  

  a {
    color: #000000;
    text-decoration: none;
  }
  
  a:hover {
    color: #666;
  }
  
  td img {
    max-width: 100px;
    height: auto;
  }
 
  figure {
    display: flex;
    flex-direction: column;
  }
   .art-img{
    height:15%;
     width:15%;
    
   }
  #h1fav {
    text-align: center;
  }
  /*----------*/
  
  header img:hover {
    transition: transform 2s;
    transform: translateX(15px);
  }
  a:hover{
    color: cadetblue;
  }
   nav ul li a:hover {
    transition: 1s;
    box-shadow: 5px 5px 10px #777;
    
  }
  /* Authors' boxes in impressum */
.impressum-author {
  width: 300px;
  height: 100px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px silver;
}

  /* Additional CSS for the rating form */
.rating-stars {
  display: inline-block;
  font-size: 0; /* remove the space between inline-block elements */
  direction: rtl;
}

.rating-stars input[type="radio"] {
  display: none; /* hide the radio buttons */
} 


.rating-stars label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/star.png); /* replace with the path to your star image */
  background-size: cover;
  cursor: pointer;
}

.rating-stars input[type="radio"]:checked ~ label {
  background-image: url(../img/starfilled.png); /* replace with the path to your filled star image */
}

label,legend,figcaption{
  font-size: large;
  font-weight: bold;
}
*{
  font-family: Arial;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color:#f8f8bd;
}

/*/////////iteration3*/
.heart-button {
  display: inline-block;
  background-size: cover;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url('../img/heartempty.png');
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s;
}

.heart-button.filled {
  background-image: url('../img/heartfilled.png');
}
/*new class it4*/

.new_line{
  white-space: pre-line;
}